**/__pycache__
**/lost+found
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/terraform.tfvars.json
**/*.auto.tfvars
**/*.auto.tfvars.json
*.md
.*
Dockerfile
Makefile
requirements/*.in
