{% if cookiecutter.backend_type != 'none' %}# backend
CACHE_URL=locmem://
DJANGO_ADMINS=admin,errors@example.org
DJANGO_ALLOWED_HOSTS=localhost,{{ cookiecutter.backend_service_slug }}
DJANGO_CONFIGURATION=Local
DJANGO_DEBUG=True
DJANGO_DEFAULT_FROM_EMAIL=info@example.org
DJANGO_SECRET_KEY=__SECRETKEY__
DJANGO_SERVER_EMAIL=server@example.org
DJANGO_SUPERUSER_EMAIL=info@example.org
DJANGO_SUPERUSER_PASSWORD={{ cookiecutter.project_slug }}
DJANGO_SUPERUSER_USERNAME=${USER}
EMAIL_URL=smtp://@mail:1025
PYTHONBREAKPOINT=IPython.core.debugger.set_trace
PYTHONDEVMODE=""
PYTHONTRACEMALLOC=0
# database
POSTGRES_DB={{ cookiecutter.project_slug }}
POSTGRES_HOST=db
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
{% endif %}# platform
{% if cookiecutter.backend_type != 'none' %}BACKEND_DOMAIN={{ cookiecutter.backend_service_slug }}.localhost
{% endif %}{% if cookiecutter.frontend_type != 'none' %}FRONTEND_DOMAIN={{ cookiecutter.frontend_service_slug }}.localhost
{% endif %}MAIL_DOMAIN=mail.localhost
COMPOSE_FILE=compose.yaml:compose.local.yaml
COMPOSE_PROJECT_NAME={{ cookiecutter.project_slug }}
EXTERNAL_PORT=8443
# user
# GROUP_ID=1000
# USER_ID=1000
# USER=appuser
