{% if cookiecutter.backend_type != 'none' %}# backend
CACHE_URL=locmem://
DATABASE_URL=postgres://postgres:postgres@postgres:5432/{{ cookiecutter.project_slug }}
DJANGO_ADMINS=admin,errors@example.org
DJANGO_ALLOWED_HOSTS=localhost,backend
DJANGO_CONFIGURATION=Local
DJANGO_DEBUG=True
DJANGO_DEFAULT_FROM_EMAIL=info@example.org
DJANGO_SECRET_KEY=__SECRETKEY__
DJANGO_SERVER_EMAIL=server@example.org
DJANGO_SESSION_COOKIE_DOMAIN=localhost
DJANGO_SUPERUSER_EMAIL=info@example.org
DJANGO_SUPERUSER_PASSWORD={{ cookiecutter.project_slug }}
DJANGO_SUPERUSER_USERNAME=${USER}
EMAIL_URL=console:///
PYTHONBREAKPOINT=IPython.core.debugger.set_trace
# PYTHONDEVMODE=1
{% endif %}{% if cookiecutter.frontend_type != 'none' %}# frontend
# FRONTEND_DOCKER_FILE=docker/local.Dockerfile
# PROJECT_URL=https://localhost:8443
# INTERNAL_BACKEND_URL=http://{{ cookiecutter.backend_service_slug }}:{{ cookiecutter.backend_service_port }}
# REACT_ENVIRONMENT=Development
{% endif %}{% if cookiecutter.use_pact == "true" %}# pact
PACT_BROKER_URL=https://user:password@broker.pact.com
PACT_PROVIDER_NAME={{ cookiecutter.project_slug }}-{{ cookiecutter.backend_service_slug }}
{% endif %}# {{ cookiecutter.service_slug }}
COMPOSE_FILE=docker-compose.yaml
# user
# GROUP_ID=1000
# USER_ID=1000
# USER=appuser
