# START https://raw.githubusercontent.com/github/gitignore/main/Terraform.gitignore

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude terraform.tfvars files, as they are chosen to be used only locally.
terraform.tfvars
terraform.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# END https://raw.githubusercontent.com/github/gitignore/main/Terraform.gitignore

# Start local

# JetBrains
.idea/

# Eclipse / Kate
*.swp

# SublimeText
*.sublime-project
*.sublime-workspace

# Vim
[._]*.un~

# VisualStudioCode
.devcontainer*
.vscode/

# macOS
.DS_Store

# Environment
kubeconfig.yaml
*secrets.*{% if cookiecutter.backend_type != 'none' %}
{{ cookiecutter.backend_service_slug }}/{% endif %}{% if cookiecutter.frontend_type != 'none' %}
{{ cookiecutter.frontend_service_slug }}/{% endif %}

# Locals
*.local.yaml

# Backup
*.sql
*.dump

# Environments
.env

# END local
