# JetBrains
.idea/

# Eclipse / Kate
*.swp

# SublimeText
*.sublime-project
*.sublime-workspace

# Vim
[._]*.un~

# VisualStudioCode
.devcontainer*
.vscode/

# macOS
.DS_Store

# Environment
kubeconfig.yaml
*secrets.*{% if cookiecutter.backend_type != 'none' %}
{{ cookiecutter.backend_service_slug }}/{% endif %}{% if cookiecutter.frontend_type != 'none' %}
{{ cookiecutter.frontend_service_slug }}/{% endif %}

# Backup
*.sql
*.dump

# Environments
.env
